* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #242424;
    color: whitesmoke;
}

header {
    background-color: #212121;
    display: flex;
    flex-direction: column;
    padding: 16px;
}